* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

root {
  height: 14px;
  width: 14px;
  font-size: 14px;
}

.container_all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FDFC47;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#FDFC47), to(#24FE41));
  background: linear-gradient(to right, #FDFC47, #24FE41);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.left_side {
  height: 100vh;
  width: 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.left_side .left_side_upper {
  width: 100%;
  height: 70%;
}

.left_side .left_side_bottom_all {
  width: 100%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.left_side .left_side_bottom_all .left_side_bottom_question {
  height: 30%;
  width: 100%;
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left_side .left_side_bottom {
  width: 100%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.left_side .left_side_bottom .A:hover, .left_side .left_side_bottom .B:hover, .left_side .left_side_bottom .C:hover, .left_side .left_side_bottom .D:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.left_side .left_side_bottom .A, .left_side .left_side_bottom .B, .left_side .left_side_bottom .C, .left_side .left_side_bottom .D {
  width: 47%;
  height: 34%;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 5px 10px 5px;
}

.left_side .left_side_bottom .A {
  background-color: #76A665;
}

.left_side .left_side_bottom .B {
  background-color: #214154;
}

.left_side .left_side_bottom .C {
  background-color: #FFDD5C;
}

.left_side .left_side_bottom .D {
  background-color: orangered;
}

.left_side .left_side_bottom .answers {
  font-weight: 600;
  font-size: 2rem;
}

.right_side {
  width: 30vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.right_append {
  width: 90%;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 5px 10px 5px;
  background-color: red;
  color: white;
}

.right_append_question {
  font-size: 1.5rem;
}

/*# sourceMappingURL=main.css.map */
