* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

root {
  height: 14px;
  width: 14px;
  font-size: 14px;
}

.container_all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("/tla/photo-1534796636912-3b95b3ab5986.jpeg");
  /* fallback for old browsers */
}

.left_side {
  height: 100vh;
  width: 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.left_side .left_side_upper {
  width: 100%;
  height: 70%;
}

.left_side .left_side_bottom_all {
  width: 100%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.left_side .left_side_bottom_all .left_side_bottom_question {
  height: 100%;
  width: 97%;
  border: 2px solid gold;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left_side .left_side_bottom {
  width: 100%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.left_side .left_side_bottom .A:hover, .left_side .left_side_bottom .B:hover, .left_side .left_side_bottom .C:hover, .left_side .left_side_bottom .D:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.left_side .left_side_bottom .A, .left_side .left_side_bottom .B, .left_side .left_side_bottom .C, .left_side .left_side_bottom .D {
  width: 47%;
  height: 34%;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 5px 10px 5px;
  border: 2px solid gold;
  background-color: black;
}

.left_side .left_side_bottom .answers {
  font-weight: 600;
  font-size: 1.5rem;
  color: gold;
}

.left_side .left_side_bottom_question_container {
  width: 100%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.answer_append {
  display: none;
}

@-webkit-keyframes pulseAnim {
  0% {
    background: darkgreen;
  }
  100% {
    background: white;
  }
}

@keyframes pulseAnim {
  0% {
    background: darkgreen;
  }
  100% {
    background: white;
  }
}

@-webkit-keyframes pulseAnimfail {
  0% {
    background: red;
  }
  100% {
    background: white;
  }
}

@keyframes pulseAnimfail {
  0% {
    background: red;
  }
  100% {
    background: white;
  }
}

.right_side {
  width: 30vw;
  height: 79vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.right_append {
  width: 100%;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 5px 10px 5px;
  border: 2px solid blue;
  background-color: black;
  color: gold;
}

.right_append_question {
  font-size: 1.5rem;
  color: gold;
  display: none;
}

.right_side_container {
  height: 100vh;
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*# sourceMappingURL=main.css.map */
